@import url('https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap');
.App {
  font-family: 'RocknRoll One', sans-serif;
}

h2 {
  margin: 10px 100px 50px 100px;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 25px;
}

.fp {
  width: 600px;
}
